{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<div class="page-header">
  {% if role == "employee" %}
  <h1>My Tasks as an employee</h1>
  {% endif %}
  {% if role == "employer" %}
  <h1>My Tasks as an employer</h1>
  {% endif %}
</div>
<p class="form">
	<table id = "t">
	  <tr>
	    <th>Task</th>
	    <th>Starts</th>
	    <th>Ends</th>
			<th>with Minimum Bid</th>
	  </tr>
		{% for task in tasks %}
			<tr>
				<td>
          <a href="#{{task.task_id}}">
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{task.task_id}}">{{task.title}}</button>
        </td>
				<td>{{task.datetime_start}}</td>
				<td>{{task.datetime_end}}</td>
				<td>{{task.min_bid}}</td>
      </tr>
		{% endfor %}
	</table>
  {% for task in tasks %}
    <div class="container" >
    <!-- Modal -->
      <div class="modal fade" role="dialog" id="{{task.task_id}}">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content" >
            <div class="modal-header" >
              <button type="button" class="close" data-dismiss="modal" >&times;</button>
              <h4 class="modal-title">{{task.title}}</h4>
            </div>
            <div class="modal-body" >
              <table>
                <thead>
                </thead>
                <tbody class="modal-table" aria-hidden="true">
                  <tr>
                    <th>Description</th>
                    <td>{{task.description}}</td>
                  </tr>
                  <tr>
                    <th>Employer</th>
                    <td>{{current_user.get_user(task.employer_user_id).display_name}}</td>
                  </tr>
                  <tr>
                    <th>Contact number</th>
                    <td>{{current_user.get_user(task.employer_user_id).contact_number}}</td>
                  </tr>
                  <tr>
                    <th>Starts</th>
                    <td>{{task.datetime_start}}</td>
                  </tr>
                  <tr>
                    <th>Ends</th>
                    <td>{{task.datetime_end}}</td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>{{task.address}}</td>
                  </tr>
                  <tr>
                    <th>Minimum bid</th>
                    <td>{{task.min_bid}}</td>
                  </tr>
                  <tr>
                    <th>Last Updated Time</th>
                    <td>{{task.last_updated}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer" >
              <button type="button" class="btn btn-default" data-dismiss="modal">Modify</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Remove</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</p>

{% endblock %}
