{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<div class="page-header">
  {% if role == "employee" %}
  <h1>My Tasks as an employee</h1>
  {% endif %}
  {% if role == "employer" %}
  <h1>My Tasks as an employer</h1>
  {% endif %}
</div>
<p class="form">
	<table id = "t">
	  <tr>
	    <th>Task</th>
	    <th>Starts</th>
	    <th>Ends</th>
			<th>with Minimum Bid</th>
	  </tr>
		{% for task in tasks %}
			<tr>
				<td>{{task.title}}</td>
				<td>{{task.datetime_start}}</td>
				<td>{{task.datetime_end}}</td>
				<td>{{task.min_bid}}</td>
			</tr>
		{% endfor %}
	</table>
</p>

{% endblock %}
