
{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Register <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.hidden_tag() }}
    {{ form.user_id(class_ = 'form-control first-input', placeholder = form.user_id.label.text, required = true, autofocus = true) }}
    {{ form.password_hash(class_ = 'form-control', placeholder = form.password_hash.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
    {{ form.address(class_ = 'form-control last-input', placeholder = form.address.label.text, required = true) }}
    {{ form.display_name(class_ = 'form-control last-input', placeholder = form.display_name.label.text, required = true) }}
    {{ form.contact_number(class_ = 'form-control last-input', placeholder = form.contact_number.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>
    <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block" >
  </form>
{% endblock %}
